doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    if locals.authenticated
      include logged-in-navbar.pug
    else 
      include logged-out-navbar.pug
    block content
