doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    form(action="/logout" method="get")
      button(type="Submit") Log Out 
    block content
