body
nav
  container.nav-container
    table
      thead#nav-head
        tr#nav-row
          th#nav-games-btn: button(type="button" class="nav-buttons" onclick="window.location.href='/games'") Games
          th#nav-shelves-btn: button(type="button" class="nav-buttons" onclick=`window.location.href='/shelves'`) My Shelves
          th(id="nav-logo")="Good Gamez"
          th(id="nav-user")=`Welcome ${locals.user.username}`
          th#nav-logout-btn: button(type="button" class="nav-buttons" onclick="window.location.href='/logout'") Logout
