body
  nav.navbar-container
    container.nav-container
      table
        thead#nav-head
          tr#nav-row
            th#nav-games-btn: button(type="button" class="nav-buttons" onclick="window.location.href='/games'") Games
            th#nav-shelves-btn: button(type="button" class="nav-buttons" onclick=`window.location.href='/shelves'`) Shelves
            th(id="nav-logo"): img(src='/images/logo.png' alt='Good Gamez' height='50px' width='120px')
            th(id="nav-user")=`Welcome, ${locals.user.username}`
            th#nav-logout-btn: button(type="button" class="nav-buttons" onclick="window.location.href='/logout'") Logout
