div#nav-container
  table
    thead
      tr#nav-rowloggedout
        th#nav-games-btn
          button(type="button" class="nav-buttons" onclick="window.location.href='/games'") Games
        th(id="nav-logo"): img(src='https://i.imgur.com/KlJc6cB.png' alt='Good Gamez' height='50px' width='120px')
        th#nav-login-btn
          button(type="button" class="nav-buttons" onclick="window.location.href='/login'") Log In
        th#nav-signup-btn
          button(type="button" class="nav-buttons" onclick="window.location.href='/signup'") Sign Up
        th#nav-demo-btn
          button(type="button" class="nav-buttons" onclick="window.location.href='/demo'") Demo
