extends layout.pug
include utils.pug
block content
  div(id="login-form")
    +validationErrorSummary(errors)
    form(action="/login", method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      +field("Username", "username", username, "text", "Enter Username", true)
      +field("Password", "password", "", "text", "Enter Password", true)
      button(type="Submit") Log In
    a(href="/signup") Don't have an account? Register here! 