#games-page {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: "games genres";
  background: none;
}
#games-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  overflow: scroll;
  height: 850px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: none;
}

#games-container::-webkit-scrollbar {
  background-color: #282828;
  width: 16px;
}

#games-container::-webkit-scrollbar-track {
  background-color: #282828;
}

#games-container::-webkit-scrollbar-thumb {
  background-color: #9146ff;
  border-radius: 16px;
  border: 4px solid #282828;
}

#games-container::-webkit-scrollbar-button {
  display: none;
}

.game {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1em;
}
#games-container h2,
h4 {
  width: fit-content;
  align-self: center;
  color: #f0e6e6;
  font-weight: bold;
}
#games-container h2:hover,
h4:hover {
  cursor: pointer;
  color: #9146ff;
  transition-duration: 150ms;
}

.game-imgs:hover {
  cursor: pointer;
  transition-duration: 500ms;
  box-shadow: -0.4em -0.4em 0.4em #9146ff;
}

.game-names, .game-genres {
  text-align: center;
  margin-top: 0.5em;
}
#games-genres-container {
  border-top: 0.1em solid #9146ff;
  border-left: 0.1em solid #9146ff;
  border-right: 0.1em solid #9146ff;
  border-bottom: 0.1em solid #9146ff;
  height: fit-content;
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#games-genres-container ul {
  margin-bottom: 1em;
}

#games-genres-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
  /* border-bottom: 0.05em solid #9146ff; */
  color: #f0e6e6;
  margin-top: 10px;
}

#games-genres-container li {
  display: flex;
  justify-content: center;
  margin-top: 0.7em;
}

#games-genres-container a:hover {
  color: #9146ff;
  transition-duration: 150ms;
}
#games-genres-container a {
  margin: auto;
  text-decoration: none;
  font-weight: bold;
  color: #b3b3b3;
}

@media screen and (max-width: 1778px) {
    #games-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 1fr;
        overflow: scroll;
        height: 850px;
        scroll-behavior: smooth;
        overflow-x: hidden;
        background: none;
      }

}


@media screen and (max-width: 1200px) {
    #games-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 1fr;
        overflow: scroll;
        height: 850px;
        scroll-behavior: smooth;
        overflow-x: hidden;
        background: none;
    }

    #games-page {
        display: grid;
        grid-template-columns: 82% auto;
        grid-template-areas: "games genres";
        background: none;
    }


}

@media screen and (max-width: 900px) {
    #games-genres-container * {
        font-size: small;
    }
    #games-genres-container li {
        align-content: center;
        justify-content: flex-start;
        margin-top: 0.35em;
        margin-bottom: 0.35em;

    }
    #games-genres-container > h2 {
        font-size: 24px;
    }

    /* */
    #games-genres-container ul {
        margin-bottom: 0;
    }

    #games-genres-container li:last-child {
        border-bottom: hidden;
        overflow: auto;
    }

    #games-genres-container * {
        font-size: small;
    }
    #games-genres-container li {
        display: flex;
        height: fit-content;
        justify-content: flex-start;
        align-content: flex-start;
        border-bottom: 0.05em solid #9146ff;

    }
    #games-genres-container a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        align-content: flex-start;
        width: 100%;
        height: 100%;
    }


}
