/* body {
    display: grid;
    grid-template-rows: .05fr 1fr;
    grid-template-areas: "header body";
} */

nav.navbar-container{
    grid-area: header;
}

 #games-page {
    grid-area: body;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "games genres";
}

#games-container {
    grid-area: games;
}

#games-genres-container {
    grid-area: genres;
}

.game-names{
    font-weight: bold;
}

.game-names:hover,
.game-genres:hover {
    color: rebeccapurple;
    cursor:pointer;
}

.game-imgs:hover {
    cursor:pointer;
}
