/* Everything below the nav bar */
#game-page {
  display: grid;
  grid-template-columns: 83.33% 16.66%;
  grid-template-areas:
    "game genres"
    "game shelves";
  color: #f0e6e6;
}

/* #game-page button:not(.hideMovButton, #addToShelfButton) {
  margin: 5px;
  background: linear-gradient(to right, #9146ff, #282828);
  border-color: transparent;
  color: lightgray;
  width: 10%;
} */

#shelf-selection {
  width: 40%;
  background-color: transparent;
  border-color: #9146ff;
  font-size: 16px;
  color: lightgray;
}

#selectRating {
  background-color: #282828;
  color: white;
}

#shelf-selection > * {
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
  color: #282828;
}

.hideMovButton {
  /* margin: 5px;
  background: linear-gradient(to right, #9146ff, #282828);
  border-color: transparent;
  color: lightgray;
  width: 20%; */
  margin-top: 0.5rem;
  width: 7rem;
}

/* #addToShelfButton {
  margin: 5px;
  background: linear-gradient(to right, #9146ff, #282828);
  border-color: transparent;
  color: lightgray;
  width: 20%;
} */

#game-page li {
  color: #b3b3b3;
}

#game-page textarea::placeholder {
  color: white;
}

#game-page textarea {
  background-color: #282828;
  color: white;
  padding: 8px;
  margin-top: 5px;
}

/* H1 game title */
#game-title {
  display: flex;
  align-items: flex-end;
  grid-area: title;
}

#game-title > h1 {
  height: fit-content;
}

/* Image, average rating, genre, add to shelf button, description, and reviews */
#game-container {
  grid-area: game;
  display: grid;
  grid-template-columns: 5% 30% 60% 5%;
  overflow: scroll;
  overflow-x: hidden;
  height: 850px;
  grid-template-rows: 10% auto 45% 30%;
  grid-template-areas:
    ". title title title"
    ". game-section description ."
    ". game-section user-review ."
    ". . reviews .";
}

#game-container::-webkit-scrollbar {
  background-color: #282828;
  width: 16px;
}

#game-container::-webkit-scrollbar-track {
  background-color: #282828;
}

#game-container::-webkit-scrollbar-thumb {
  background-color: #9146ff;
  border-radius: 16px;
  border: 4px solid #282828;
}

#game-container::-webkit-scrollbar-button {
  display: none;
}

#game-section {
  grid-area: game-section;
}

#game-section h2 {
  font-size: 1.1em;
}

#game-description {
  grid-area: description;
}

#game-description > h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
  border-bottom: 0.05em solid #9146ff;
  color: #f0e6e6;
}

#submitReview {
  width: 8rem;
  margin-top: 0.5rem;
}

/* User review or the form depending on review status */
#user-review-box {
  grid-area: user-review;
  text-align: center;
}

/* Reviews header and all the reviews */
#all-reviews-box {
  grid-area: reviews;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#all-reviews-box h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
  border-bottom: 0.05em solid #9146ff;
  margin-bottom: 0.5em;
  color: #f0e6e6;
}

#all-reviews-box > h2 {
  grid-area: header;
  text-align: center;
}

/* List of shelves and which shelves the game is in */
#game-shelf-container {
  grid-area: shelves;
  margin-top: 2em;
  margin-right: 0.5em;
  margin-left: .5em;
  border-top: 0.1em solid #9146ff;
  border-left: 0.1em solid #9146ff;
  border-right: 0.1em solid #9146ff;
  border-bottom: 0.1em solid #9146ff;
}

#game-shelf-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
  /* border-bottom: 0.05em solid #9146ff; */
  color: #f0e6e6;
  margin-top: 10px;
}

#game-shelf-container ul {
  margin-bottom: 1em;
}

#game-shelf-container li {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
}

#game-shelf-container a:hover {
  color: #9146ff;
  transition-duration: 150ms;
}

#game-shelf-container a {
  margin: auto;
  text-decoration: none;
  font-weight: bold;
}

/* Contains a UL of all of the genres on the website */
#game-genres-container {
  border-top: 0.1em solid #9146ff;
  border-left: 0.1em solid #9146ff;
  border-right: 0.1em solid #9146ff;
  border-bottom: 0.1em solid #9146ff;
  margin-right: 0.5em;
  margin-top: 1em;
  margin-left: .5em;
}

#game-genres-container ul {
  margin-bottom: 1em;
}

#game-genres-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
  /* border-bottom: 0.05em solid #9146ff; */
  color: #f0e6e6;
  margin-top: 10px;
}

#game-genres-container li {
  display: flex;
  justify-content: center;
  padding-top: 0.7em;
}
#game-genres-container a:hover {
  color: #9146ff;
  transition-duration: 150ms;
}
#game-genres-container a {
  margin: auto;
  text-decoration: none;
  font-weight: bold;
}


@media screen and (max-width: 1800px) {
  #game-container {
    grid-area: game;
    display: grid;
    grid-template-columns: 5% auto 5%;
    overflow: scroll;
    overflow-x: hidden;
    height: 850px;
    grid-template-rows: 10% auto auto auto;
    grid-template-areas:
        ".  title title "
        ". game-section ."
        ". description ."
        ".  user-review ."
        ".  reviews .";
  }
}

@media screen and (max-width: 900px) {

    #game-page {
        display: grid;
        grid-template-columns: 83.33% 16.66%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
          "game genres"
          "game shelves";
        color: #f0e6e6;
    }

    #game-genres-container ul {
        margin-bottom: 0;
        height: auto;
    }

    #game-genres-container {
        overflow: scroll;
        overflow-x: hidden;
        border: hidden
    }
    #game-genres-container::-webkit-scrollbar {
        background-color: #282828;
        width: 16px;
      }
      
      #game-genres-container::-webkit-scrollbar-track {
        background-color: #282828;
      }
      
      #game-genres-container::-webkit-scrollbar-thumb {
        background-color: #9146ff;
        border-radius: 16px;
        border: 4px solid #282828;
      }
      
      #game-genres-container::-webkit-scrollbar-button {
        display: none;
      }

    #game-genres-container * {
        font-size: small;
    }
    #game-genres-container li {
        display: flex;
        height: fit-content;
        justify-content: flex-start;
        align-content: flex-start;
        border: 0.05em solid #9146ff;

    }
    #game-genres-container > h2 {
        font-size: 20px;
    }

    #game-shelf-container {
        height: 50%;
        border: hidden
    }

    #game-shelf-container * {
        font-size: small;
    }
      
    #game-shelf-container h2 {
        font-size: 18px;
        border: hidden;
    }

    #game-shelf-container li {
        align-content: flex-start;
        border: 0.05em solid #9146ff;
    }

    #game-genres-container a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        align-content: flex-start;
        width: 100%;
        height: 100%;
    }

    #game-shelf-container a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        align-content: flex-start;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    #game-page button:not(.hideMovButton, #addToShelfButton) {
        width: auto;
    }

    #game-shelf-container {
        overflow: scroll;
        overflow-x: hidden;
    }
    #game-shelf-container::-webkit-scrollbar {
        background-color: #282828;
        width: 16px;
      }
      
      #game-shelf-container::-webkit-scrollbar-track {
        background-color: #282828;
      }
      
      #game-shelf-container::-webkit-scrollbar-thumb {
        background-color: #9146ff;
        border-radius: 16px;
        border: 4px solid #282828;
      }
      
      #game-shelf-container::-webkit-scrollbar-button {
        display: none;
      }
}
