@import "reset.css";
@import "nav.css";
@import "log-in.css";
@import "sign-up.css";
@import "shelves.css";
@import "games.css";
@import "game.css";
h1 {
  color: white;
}
body:not(nav) {
  background: linear-gradient(574deg, #282828, #282828, #282828, #9146ff);
  overflow: hidden;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
