@import "reset.css";
@import "log-in.css";
@import "sign-up.css";
@import "shelves.css";
@import "games.css";
@import "game.css";
@import "nav.css";
h1 {
    color: #555555;
}

body:not(nav) {
    background-color: #282828;
    color: #B3B3B3;
}