#login-form {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: transparent;
    background: linear-gradient(420deg, #9146ff, #282828);
    color: lightgray;
    border-radius: 1rem;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    height: max-content;
}

#login-form > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-form > form > div > * {
  margin-top: 10px;
}

.loginbutton {
  color: lightgray;
  border: 1px solid #282828;
  border-radius: 8px;
  background-color: #282828;
}
.signupnotif:hover {
    color:lightgreen
}
