container.nav-container {
  position: sticky;
  top: 0;
  width: 100%;
}

thead#nav-head {
  background-color: #282828;
  z-index: 1;
}

table {
  width: 100%;
}

tr#nav-row {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 3fr 1.5fr 1fr;
  grid-template-areas: "games shelves . logo user logout";
  border-bottom: 3px solid #9146ff;
}

#nav-rowloggedout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
  grid-template-areas: "games . . logo login signup demo";
  border-bottom: 3px solid #9146ff;
}

th#nav-games-btn {
  align-self: center;
  grid-area: games;
  background-color: transparent;
}

#nav-games-btnlogout {
  align-self: center;
  grid-area: games;
  background-color: transparent;
}

/* .nav-buttons {
  color: lightgray;
  border: 1px solid #9146ff;
  padding: 2.7% 0;
  width: 37.5%;
  border-radius: 8px;
  background-color: transparent;
  min-width: fit-content;
} */

.nav-buttons{
  margin-right: 0.8rem;
}

th#nav-shelves-btn {
  align-self: center;
  grid-area: shelves;
}

#nav-login-btn {
  text-align: center;
  align-self: center;
  grid-area: login;
}

.nav-buttons:hover {
  cursor: pointer;
  background: #9146ff;
  /* transition: background 600ms; */
  /* background: linear-gradient(#9146ff, #282828); */
  /* border-color: transparent; */
  /* border: 1px solid #9146ff; */
  /* transition-duration: 500ms; */
  /* transition-duration: 150ms; */
  /* font-size: 95%; */
  /* animation: blink 0.5s easse-out alternate infinite; */
}

#nav-signup-btn {
  align-self: center;
  text-align: center;
  grid-area: signup;
}

#nav-demo-btn {
  text-align: center;
  align-self: center;
  grid-area: demo;
}

th#nav-logo {
  align-self: center;
  grid-area: logo;
  color: lightgray;
}

th#nav-user {
  align-self: center;
  text-align: right;
  grid-area: user;
  color: lightgray;
}

th#nav-logout-btn {
  align-self: center;
  grid-area: logout;
}