/* This is the entire nav bar as a whole */
container.nav-container {
  position: sticky;
  top: 0;
  width: 100%;
}

/*navbar elements? */

thead#nav-head {
  background-color: #282828;
  z-index: 1;
}

table {
  width: 100%;
}

tr#nav-row {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 3fr 1.5fr 1fr;
  grid-template-areas: "games shelves . logo user logout";
  border-bottom: 3px solid #9146ff;
}

#nav-rowloggedout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
  grid-template-areas: "games . . logo login signup demo";
  border-bottom: 3px solid #9146ff;
}

/*This is the individual buttons for the navbar*/
th#nav-games-btn {
  align-self: center;
  grid-area: games;
  background-color: transparent;
}

#nav-games-btnlogout {
  align-self: center;
  grid-area: games;
  background-color: transparent;
}

.nav-buttons {
  color: lightgray;
  border: 1px solid #9146ff;
  border-radius: 8px;
  background-color: transparent;
}

th#nav-shelves-btn {
  align-self: center;
  grid-area: shelves;
}

#nav-login-btn {
  text-align: right;
  align-self: center;
  grid-area: login;
}

.nav-buttons:hover {
  background: linear-gradient(540deg, #9146ff, #282828);
  border-color: transparent;
  transition-duration: 500ms;
}

#nav-signup-btn {
  align-self: center;
  text-align: center;
  grid-area: signup;
}

#nav-demo-btn {
  text-align: center;
  align-self: center;
  grid-area: demo;
}

th#nav-logo {
  align-self: center;
  grid-area: logo;
  color: lightgray;
}

th#nav-user {
  align-self: center;
  text-align: right;
  grid-area: user;
  color: lightgray;
}

th#nav-logout-btn {
  align-self: center;
  grid-area: logout;
}

/* This makes each button in the nav pop when hovered over */
.nav-buttons:hover {
  cursor: pointer;
  font-size: 95%;
  animation: blink 0.5s ease-out alternate infinite;
  transition-duration: 150ms;
}
