.addShelfForm {
  display: none;
}

.showDelConfirm {
  display: none;
}

.showMovDrop {
  display: none;
}
.shelfContainer {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  background: none;
  height: 1280px;
}

.gameListContainer {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  height: 850px;
  padding: 10px;
}

.gameListDiv > table > tbody > tr > td > a > img {
  height: fit-content;
  position: static;
}
.gameListDiv > table > tbody > tr > td > a > img:hover {
  height: fit-content;
  /* width: 70px; */
  box-shadow: 10px 5px 5px #282828;
}
.gameListDiv > table > tbody {
  text-align: center;
}
.gameListDiv > table {
  background: linear-gradient(420deg, #9146ff, #282828);
  border-radius: 1rem;
  padding: 5px;
  margin-bottom: 25px;
}
.gameListContainer::-webkit-scrollbar {
  background-color: #282828;
  width: 16px;
}
.gameListContainer::-webkit-scrollbar-track {
  background-color: #282828;
}

.gameListContainer::-webkit-scrollbar-thumb {
  background-color: #9146ff;
  border-radius: 16px;
  border: 4px solid #282828;
}

.gameListContainer::-webkit-scrollbar-button {
  display: none;
}
.shelfTitle {
  color: #9146ff;
  top: 0px;
  height: 70px;
  background: #282828;
  position: sticky;
  text-align: center;
  margin-top: 10px;
}

.delete-button {
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 16px;
}
.delete-button:hover {
  cursor: pointer;
}
#move-dropdown {
  background: transparent;
  color: lightgray;
  border-color: #9146ff;
}

#move-dropdown > * {
  background-image: transparent;
  color: #282828;
}

#move-dropdown-button {
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 16px;
}

#move-button {
  color: lightgray;
  background: linear-gradient(to right, #9146ff, #282828);
  border-color: transparent;
  width: 120px;
}
#move-button:hover {
  cursor: pointer;
}

#gamesLink {
  text-decoration: none;
  font-size: 20px;
}
#gamesLink:hover {
  color: #282828;
  transition-duration: 150ms;
}
.noGames {
  background: linear-gradient(420deg, #9146ff, #282828);
  border-radius: 1rem;
  text-align: center;
}

.shelf {
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-left: 25px;
}
#my-shelves {
  color: lightgray;
  height: 25px;
  padding: 5px;
}
.shelfLinks > a:hover {
  cursor: pointer;
  color: #9146ff;
}
.shelfLinks {
  list-style-type: none;
}

.hideAddButton {
  margin: 5px;
  background: linear-gradient(to right, #9146ff, #282828);
  border-color: transparent;
  color: lightgray;
  width: 80%;
}
.hideAddButton:hover {
  cursor: pointer;
}

.hideDelButton {
  margin: 5px;
  background: linear-gradient(to right, #9146ff, #282828);
  border-color: transparent;
  color: lightgray;
  width: 80%;
}

#del-dropdown {
  width: 100%;
  background-color: transparent;
  border-color: #9146ff;
  font-size: 16px;
  color: lightgray;
}

#del-dropdown > * {
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
  color: #282828;
}

#del-buttons-yes {
  background-color: transparent;
  font-size: 16px;
  color: lightgray;
  width: 50%;
}
#del-buttons-no {
  background-color: transparent;
  color: lightgray;
  font-size: 16px;
  width: 50%;
}

#del-buttons-yes:hover {
  cursor: pointer;
  background-color: lightgray;
  color: #282828;
}

#del-buttons-no:hover {
  cursor: pointer;
  background-color: lightgray;
  color: #282828;
}
