#sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: transparent;
    background: linear-gradient(420deg, #9146ff, #282828);
    color: lightgray;
    border-radius: 1rem;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    height: max-content;
}

#sign-up-form > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

#sign-up-form > form > div > * {
  margin-top: 10px;
}

.registerbutton {
  color: lightgray;
  border: 1px solid #282828;
  background-color: #282828;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 25%
}

.loginnotif:hover {
    color:lightgreen
}
